.App {
  display: flex;
  background-color: #000;
  min-height: 100vh;
}

.Canvas {
  background-color: black;
  padding: 20px;
  position: relative;
}
.Ramka{
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #0024ff;
}
.CanvasMain{
  border: 3px solid #1ee0dd;
}
.Menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
  width: 100%;

  align-items: center;
  background-color: #000000;
  color: white;
}

.button{
  padding: 10px 30px;
  border: 1px solid #1ee0dd;

  color: #1ee0dd;
  transition: all 0.5s ease;
  cursor: pointer;
}
.button:hover{
  background-color: rgba(0, 0, 0, 1);
}
.left{
  background-color: rgba(0, 42, 17, 0.7);
}
.right{
  background-color: rgba(42, 0, 0, 0.7);
}
.ini{
  width: 100%;
  background-color: rgba(0, 25, 64, 0.7);
}
.MenuContainer{
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.MenuContainer span{
  color: #1ee0dd;
  font-size: 18px;
  padding-left: 3px;
}
.MenuContainer h3{
  padding: 0;
  margin: 0;
}
.States{
  padding: 15px;
  border: 1px solid #1ee0dd;
  margin: 0 10px 10px 0;
}
.Data{
  padding: 15px;
  border: 1px solid #1ee0dd;
}


/*asd*/

.container-input{
margin-bottom: 7px;
}
.container-input input[type=number]{
  border: 1px solid #1ee0dd;
  background-color: transparent;
  color: white;
  width: 50px;
}
.container-input span{
  margin-right: 5px;
}
.container-input>div{
  display: flex;
  align-items: center;
}
.rect{
  width: 18px;
  height: 18px;
  background-color: green;
}
.rectInput{
  width: 18px;
  height: 18px;
}
.circular{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: green;
}
.circularInput{
  width: 18px;
  height: 18px;
}

.description{
  color: white;
  position: absolute;
  width: 800px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.description p{
  max-width: 500px;
  text-align: center;
}